<div id="screen_number"><h2>Screen <%= "#{@screen.id}" %></h2></div>

<div id="holder">
  <ul id="place">
  </ul>
</div>
<div id="seat_description">
  <ul>
    <li id="seat_available_image">Available Seat</li>
    <li id="seat_booked_image">Booked Seat</li>
    <li id="seat_selected_image">Selected Seat</li>
  </ul>
</div>
<div id="button_display">
  <%= link_to "Show Selected Seats", "#", id: "btnShowNew", class: "btn btn-primary" %> 
  <%= link_to "Show All", "#", id: "btnShow", class: "btn btn-primary" %> 
  <%= link_to "Confirm seats", "javascript:void(0);", id: "confirm_seats", class: "btn btn-primary" %> 
</div>
<div id="selection_list">
</div>

