<div id="screen_number"><h2>Screen <%= "#{@screen.id}" %></h2></div>

<div id="holder">
  <ul id="place">
  </ul>
</div>
<div id="seatDescription">
  <ul>
    <li id="seat_available_image">Available Seat</li>
    <li id="seat_booked_image">Booked Seat</li>
    <li id="seat_selected_image">Selected Seat</li>
  </ul>
</div>
<div style="clear: both; width: 100%">
  <input type="button" id="btnShowNew" value="Show Selected Seats" />
  <input type="button" id="btnShow" value="Show All" />           
</div>

