// Place all the styles related to the seats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.seats-table{
	border: solid black 1px;
	border-collapse: true;
	width: 100%;
	text-align: center;
	th, td {
    border: 1px solid black;
  }
  td:hover{
  	background-color: grey;
  }
  margin-top: 5%;
}

.available-seat{
  background-color: #99F0AD;
}

.booked-seat{
  background-color: #F66877; 
}

#holder{        
  border-left: solid 20px black;
  background-color:#F5F5F5;
  border-top: 1px solid #A4A4A4;
  border-right: 1px solid #A4A4A4;
  border-bottom: 1px solid #A4A4A4; 
}

#place {
  position:relative;
  margin:7px;
}

#place a{
  font-size:0.6em;
}

#place li
{
  position: absolute;   
} 

#place li:hover
{
  background-color:yellow;      
} 

#place .seat{
  background: url("available_seat_img.jpg") no-repeat scroll 0 0 transparent;
  height:33px;
  width:33px;
  display:block;   
}

#place .selectedSeat
{ 
  background-image: url("booked_seat_img.jpg");          
}

#place .selectingSeat
{ 
  background-image: url("selected_seat_img.jpg");        
}

#place .row-3, #place .row-4{
  margin-top:10px;
}

#seatDescription li{
  position: relative;
  verticle-align: middle;    
  list-style: none outside none;
  padding-left: 3%;
  margin-top: 30px;
  height: 35px;
  float: left;
}

#seat_available_image{
  background: url('available_seat_img.jpg') no-repeat scroll 0 0 transparent;
}

#seat_booked_image{
  background: url('booked_seat_img.jpg') no-repeat scroll 0 0 transparent;
}

#seat_selected_image{
  background: url('selected_seat_img.jpg') no-repeat scroll 0 0 transparent;
}
